<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:Views="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <ul>
        <li th:each="Store: ${Stores}" >
            <a th:href="'/showStore/'+${Store.Name}" th:text="${Store.Name}"></a>
        </li>
    </ul>

    <br><br>

    <h2 th:if="${Products.size()}" th:text="${Products.get(0).Store}"></h2>

    <ul>
        <li th:each="Product: ${Products}">
            <p th:text="${Product.Product}"></p>
            <a th:href="'/viewStoreProduct/'+${Product.Store}+'/'+${Product.Product}"> View </a>
            <a th:href="'/buyStoreProduct/'+${Product.Store}+'/'+${Product.Product}+'/1'"> Buy </a>
        </li>
    </ul>

</body>
</html>