<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form method="Post" th:action="@{/login}" th:object="${User}">

    <input type="text" th:field="*{UserName}" placeholder="User Name" required>
    <input type="password" th:field="*{Password}" placeholder="Password" required>

    <input type="submit" value="Login">

</form>

<br><br><br>

<form method="Post" th:action="@{/SignUp}" th:object="${User}">

    <input type="text" th:field="*{Name}" placeholder="Name">
    <input type="text" th:field="*{UserName}" placeholder="User Name">
    <input type="password" th:field="*{Password}" placeholder="Password">

    <select th:field="*{type}">
        <option value="Customer"> Customer </option>
        <option value="StoreOwner"> Store Owner </option>
    </select>

    <input type="submit" value="Sign Up">

</form>

</body>
</html>