<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


    <form method="Post" th:action="@{/addstore}" th:object="${Store}">

        <input type="text" th:field="*{Name}" placeholder="Store Name" required>
        <input type="text" th:field="*{Location}" placeholder="Store Location" required>
        <input type="text" th:field="*{Type}" placeholder="Store Type" required>
        <input type="submit" value="Add Store">

    </form>

    <form method="Post" th:action="@{/addProductToStore}" th:object="${StoreProduct}">

        <input type="text" th:field="*{Product}" placeholder="Product Name" required>
        <input type="text" th:field="*{Store}" placeholder="Store Name" required>
        <input type="text" th:field="*{Brand}" placeholder="Brand Name" required>
        <input type="submit" value="Add Product">

    </form>


</body>
</html>
