<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


    <form method="Post" th:action="@{/addstore}" th:object="${Store}">

        <input type="text" th:field="*{Name}" placeholder="Store Name" required>
        <input type="text" th:field="*{Location}" placeholder="Store Location" required>
        <input type="text" th:field="*{Type}" placeholder="Store Type" required>
        <input type="submit" value="Add Store">

    </form>

    <form method="Post" th:action="@{/addProductToStore}" th:object="${StoreProduct}">

        <input type="text" th:field="*{Product}" placeholder="Product Name" required>
        <input type="text" th:field="*{Store}" placeholder="Store Name" required>
        <input type="text" th:field="*{Brand}" placeholder="Brand Name" required>
        <input type="submit" value="Add Product">

    </form>



    <ul>
        <li th:each="Store: ${Stores}" >
            <a th:href="'/storeOwner/showStore/'+${Store.Name}" th:text="${Store.Name}"></a>
        </li>
    </ul>

    <br><br>

    <h2 th:if="${StoreProducts.size()}" th:text="${StoreProducts.get(0).Store}"></h2>

    <ul>
        <li th:each="StoreProduct: ${StoreProducts}">
            <p th:text="'Name: '+${StoreProduct.Product}"></p>
            <p th:text="'Views: '+${StoreProduct.UsersViews}"></p>
            <p th:text="'Bought: '+${StoreProduct.BoughtProducts}"></p>
        </li>
    </ul>




</body>
</html>
